.top-bar .top-bar-title a img {
	max-width: 290px;
}

.site-navigation.top-bar { 
	flex-wrap: wrap !important;
}

.site-title-bar{
	display: flex;
	padding: .2rem 0;
}
.site-header{ 
	background: white;
	&.sticky {
		z-index: 1000;
		&.is-stuck{
			border-bottom: 1px solid get-color(primary);
			.season-picker-wraper {
				display: none;
			}
		}
	}
}

#season-picker{
	a {
		font-size: 1.2rem;
		margin: .5rem;
		float: right;
		
	}
}

.font-color-primary{
	color: get-color(primary);
}

.font-color-secondary{
	color: get-color(secondary);
}

.font-color-white{
	color: $white;
}

.dropdown.menu .is-active > a {
	@include breakpoint(medium){
		color:get-color(secondary);
	}
}

.top-bar-right .is-dropdown-submenu li {
	a{
		font-size: 1.1rem;
	}
  white-space: nowrap;
}

.orbit.fp-hero .orbit-figure span{
	width: 100%;
	height: 385px;
	display: block;
	background-size: cover;
	background-position: center;

	@include breakpoint(medium){
		height: 763px;
	}
}

.hero-wrapper{
	position: relative;
	overflow: hidden;


	//video hero crap

	.video-background {
		background: #000;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 1;
	}

	.video-foreground,
	.video-background iframe {
		position: relative;
		top: 0;
		left: -(16 / 9 * 100% - 100%) / 2 ;
		left: 0;
		min-width: 100% ;
		height: 100%;

		@media (min-width: 1024px) and (max-width: 1352px){
			width: 177%;
			left: -38.5%;
		}


		@include breakpoint(1352px){
			height:177%;
			top: -38%;
		}
		//pointer-events: none;
	}

	#vidtop-content {
		top: 0;
		color: #fff;
	}
}

.season-picker-wrapper{
	@include breakpoint(small)
}

.season-button {
	cursor: pointer;
	&:hover{ 
		top: -5px;
		position: relative;
	}
}



.heading-font { font-family: $header-font-family };

.subheading{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.orbit-wrapper.sponsors{
	margin: 3rem;
}


.orbit-bullets {
	position: absolute;
	bottom: 0;
	left: calc( 50% - 103px );
	button {
		width: 33px;
		height: inherit;
		margin: 0 1rem;
		border-radius: inherit;
		background-color: inherit;
		&.is-active, &:hover  {
			background-color: inherit;
			position: relative;
			top: -.5rem;
		}
	}
}

.expanded {
	width: 100%;
}

.hero-content{
	position:absolute;
	z-index: 2;
	top:2rem;
	width: 100%;
	h2{
		font-size: 2.5rem;
		margin-bottom: 2rem;
	}
	h3{
		color: $white;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px $black;
	}
	h2, h3{
		text-align: Center;
	}


	@include breakpoint(medium){
		width: 800px;
		top: 10rem;
		left:50%;
		margin-left: -400px;
		h2{
			font-size: 4.5rem;
		}
		h3{
			//font-size: 2.3125rem;
		}
		.subhero-content{
			top: 18rem;
			position: relative
		}
	}

	@media (max-width: 800px){
		h3{
			font-size: 1.1875rem;
		}
	}

}

p{
	font-size: 1rem;
}

//ACF Maps

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

//utility
.show{
	display:block !important;
}

.bg-primary-color{
	background: get-color(primary);
}

.bg-color-gray{
	background: $dark-gray;
}

.bg-cover{
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.text-shadow{
	text-shadow: 2px 2px 8px grey;
}
.box-shadow{
	box-shadow: 2px 2px 8px grey;
}

.margin-top{
	margin-top: $global-margin;
}
.margin-bottom{
	margin-bottom: $global-margin;
}

h1{
	@include breakpoint(large){
		font-size: 4rem;
	}
}

p{
	letter-spacing: 0px;
}

.blog-card-loop {
	p{
		text-align: center;
	}
	.masthead {
		position: relative;
		height: 375px;
		background-position: center;
		background-size: cover;
		overflow: visible;
		margin-bottom: 30px;
		display: block;
		width: 100%;
		border: 3px solid white;
		box-shadow: 2px 2px 8px grey;
		&.podcast{
			height: 365px;
		}
		.date {
			position: absolute;
			bottom: -30px;
			background: white;
			border: 1px solid get-color(primary);
			border-radius: 18px;
			padding: .3rem;
			width: 70%;
			left: 15%;
			margin-top: 15px;
		}
	}
}
.shop-card{
	position:relative;

	h1{
		position:absolute;
		top:32%;
		width:100%;
		text-shadow: 2px 2px 4px gray;
	}
	img{
		min-width:100%;
		min-height: 100%;
		box-shadow: 2px 2px 2px grey;
	}
}

.nav-card {
	position: relative;
	padding-bottom: 3rem;
	margin-bottom: 2rem;
	a {
		position: absolute;
		bottom: 0;
		width: 90%;
		left: 5%;
	}
	span.image{
		width: 100%;
    height: 385px;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
	}
	@include breakpoint(small only){
		margin-bottom: 1rem;
		p{
			margin-bottom: 3rem;
		}
	}
	.img {
		box-shadow: 2px 2px 2px grey;
	}
}

.button-contract{
	min-width: initial;
	padding-right: 3rem;
	padding-left: 3rem;
	text-align: center;
}
.mail-chimp{
	[type='text'],[type='email']{
		text-align: center;
		border-radius: 24px;
		padding: 1.7rem;
		font: inherit;
		font-size: 1.25rem;
	}
}


.gradient-primary-md-gray{
	background: linear-gradient(65deg, get-color(primary) 15%, #605e5e 65%);
}

.gradient-primary-md-gray-vertical{
	background: linear-gradient(0deg, get-color(primary) 15%, #605e5e 65%);
}


//video hero crap

.video-background {
	background: #000;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;
	@include breakpoint(small only){
		display: none;
	}
}

.video-foreground,
.video-background iframe {
	position: relative;
	top: 0;
	left: -(16 / 9 * 100% - 100%) / 2 ;
	min-width:  16 / 9 * 100% ;
	height: 100%;
	//pointer-events: none;
}

#vidtop-content {
	top: 0;
	color: #fff;
}



.relative{
	position: relative;
}



.fake-bg{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	display: block;
	background-position: center;
	background-size: cover;
}

.email-legs{
	  background-position: bottom left;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: cover;
    height: calc( 100% + 3rem);
    width: 450px;
    //left: calc( 1170px + 50% - 685px);
    right: 0;
	&-wrapper{
		margin-bottom: 4rem;
		padding-bottom: 1rem;
	}
}

i.social-icon-round{
	color: white;
	font-size: 2em;
	background-color: get-color(primary);
	padding-top: 1.4rem;
	min-width: 5rem;
	min-height: 5rem;
	border-radius: 10rem;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	&:hover{
		color: get-color(primary);
		background-color: white;
		border: 2px solid get-color(primary);
	}
}

.scroll-top {
	float:right;
	position: relative;
	margin: 2rem 2rem 1rem;
	i{
		color: white;
		// font-size: 1.2em;
		background-color: get-color(primary);
		// min-width: 3rem;
		// min-height: 3rem;
		border-radius: 100rem;
		// text-align: center;
		// position: absolute;
		// left: -3.5rem;
		// top: 0;
		padding: 0 .2rem 0.6rem;
		vertical-align: top;
		box-shadow: 2px 2px 4px gray;
		&:hover{
			color: get-color(primary);
			background-color: white;
			border: 2px soild get-color(primary);
		}
	}

}
.email-legs-wrapper .emailsignup-1{

	@include xy-cell();
	@include breakpoint (medium){
		// &:first-child{
		// 	@include xy-cell-offset(1);
		// }
		@include xy-cell(4);

	}
}
.emailsignup-1{
	@include xy-cell();
}





.footer-grid{
	display: none;
}
// keep last
.spring-content, .summer-content, .winter-content, .fall-content{
	display: none;
}

.social-sorting {
	.follow-button{
		@include breakpoint(small only){ display: none; }
	}
	.round-corners {
		#sb_instagram{
			overflow: hidden !important;
		}
    border-radius: 1rem;
    overflow: hidden;
    @include breakpoint(small only){ display: none; }
	}
}


footer {
	clear: right;
	border-top: 1.4rem solid get-color(primary);

	.footer-container{
		border: none;
	}
	
	li.menu-item{
		display: block;
		width: 100%;
		text-transform:uppercase;
		@include breakpoint(small only){
			text-align: center;
		}
		a {
			color: black;
			&:hover{
				border-bottom: 1px solid get-color(primary);
			}
		}
		&:first-child{
			a {
				color: get-color(primary);
			}
		}

		

	}
	.special-menu li.menu-item{
		&:first-child {
			a {color: #bed600;}
		}
		&:nth-child(2){
			a {color: #ef4782;}
		}
		&:nth-child(3){
			a{ color: #ff7900;}
		}
	}

	i.social-icon-round{
		// color: white;
		font-size: 1.6em;
		// background-color: get-color(primary);
		padding-top: .8rem;
		min-width: 3.2rem;
		min-height: 3.2rem;
		// border-radius: 10rem;
		// text-align: center;
		// box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		&:hover{
			// color: get-color(primary);
			// background-color: white;
			// border: 2px solid get-color(primary);
		}
	}
	
	.social-icon{
		@include breakpoint(small only){
			display: inline-block;
			text-align: center;
		}
	}

}


#wpadminbar li#wp-admin-bar-my-account{
	@include breakpoint(small only){
		display: none !important;
	}
}

.page-hero-name{
	@include breakpoint(medium){
		padding-top: 7rem;
	}
	@include breakpoint(large){
		padding-top: 9rem;
	}
}

.event-card{

	.race-info{
		display: inline-block;
		h4{
			margin-bottom:.5rem;
		}
		p{
			margin: 0;
			line-height: 1.2rem;
		}
	}
	h1{
		//font-size: 2rem;
	}
	margin-bottom: 2rem;
	.date-block{
		i { 
			display: none;
		}
		padding:.5rem;
		p{
			margin-bottom:0;
		}
		.day-of-week{
			display: none;
			font-size: 1.6rem;
		}
		.day-date{
			font-size: 3rem;
			font-weight: 700;
			line-height: 3rem;
		}

		
	}
	&.featured{
		position: relative;
		.date-block{

			.day-of-week{
				display: none;
				font-size: 1.6rem;
				@include breakpoint(medium){
					display: block;

				}
			}

			@include breakpoint(large){
				.month{
					font-size: 3rem;
				}
				.day-date{
					font-size: 8rem;
					font-weight: 700;
					line-height: 8rem;
				}
			}
			position: relative;
			i{
				display: block;
				position: absolute;
				top: 0;
				right: -1px;
				z-index: 1;
				font-size: 2rem;
				margin: .4rem;
			}
			&:after {
				content:' ';
				position: absolute;
				top: -2px;
				right:-2px;
				border-color: transparent;
				border-style: solid;
				border-width: 2.35em;
				border-right-color: get-color(primary);
				border-top-color: get-color(primary);
				//box-shadow: 2px 2px 4px gray;
			}
			&:before {
				content:' ';
				position: absolute;
				top: -2px;
				right: -2px;
				border-color: transparent;
				border-style: solid;
				border-width: 2.45em;
				border-right-color: gray;
				border-top-color: gray;
				//box-shadow: 2px 2px 4px gray;
			}
		}
		.race-info{
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 1rem;
			h4,p{
				margin: 0;
			}
			p{
				line-height: 1rem;
			}

			&-wrapper{
				position: relative;
				background-position: center;
				background-size: cover;
				min-height: 300px;
				display: block;
			}
			
			background: gray;
			

			@include breakpoint(large){
				width:50%;
				
				&-wrapper{
					background-position: right;
					min-height: 200px !important;
				}
			}
		}
	}
}

.event-date-search-form{
	input, label, {
		//display: inline-block;
		//width: initial;
	}
	@include breakpoint(medium){
		.form-search-submit {
			position: relative;
			button{
				padding: 4px;
				position: absolute;
				top: 1.6rem;
				display: block;
			}
		}
	}
}

.event-card.small .date-block{
	position: relative;
	padding:0;
}
.event-card.featured-small .date-block{
	i{
		display: block;
		position: absolute;
		top: 0;
		right: -1px;
		z-index: 1;
		font-size: .5rem;
		margin: .4rem;
	}
	&:after {
		content:' ';
		position: absolute;
		top: -2px;
		right:-2px;
		border-color: transparent;
		border-style: solid;
		border-width: 1.35em;
		border-right-color: get-color(primary);
		border-top-color: get-color(primary);
		//box-shadow: 2px 2px 4px gray;
	}
	&:before {
		content:' ';
		position: absolute;
		top: -2px;
		right: -2px;
		border-color: transparent;
		border-style: solid;
		border-width: 1.45em;
		border-right-color: gray;
		border-top-color: gray;
		//box-shadow: 2px 2px 4px gray;
	}
}
.event-content{
	.orbit-figure .event-slider{
		height: 300px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		@include breakpoint(large){
			height: 450px;
		}
	}
	header{
		padding:.5rem .5rem 0;
		position: relative;

		h1{
			@include breakpoint(medium){
				font-size: 2rem;
				line-height: 2rem;
				
			}
			@include breakpoint(large){
				font-size: 3rem;
				line-height: 3rem;
			}
		}

		.heading-date{
			font-size: 1.7rem;
			float:right;
			@include breakpoint(medium){
				font-size: 2rem;
				line-height: 3rem;
				
			}
			@include breakpoint(large){
				font-size: 3rem;
				line-height:4rem;
			}
		}
	}
}

.store-announcement-wrapper {
	.store-announcement{
		margin:8px;
	}
	.season-icon{
		&-wrapper{
			display: block;
		}
		height:20px;
		margin:8px auto ;
		
		@include breakpoint(medium){

			position: relative;
			top: -3px;
			margin: auto;
			&-wrapper{
				display: inline-block;
			}
		}
	}
}

.show-for-medium.shop-heading-menu{
	.menu-shop-menu-container{
		display: inline-block;
	}
	.menu .is-active>a{
		background: none;
		color: get-color(primary);
	}
	display:block;
	text-align: center;
	li{
		margin-left: -5px;
		float: none;
		display: inline-block;
		text-transform: uppercase;
	}
}
.testimonials{
	.name{
		text-align: center;
		@include breakpoint(medium){
			margin-top:12px;
			text-align:left;
		}}
		p{
			color: white;
		}
	
	padding: 1rem 0;
	.portrait-wrapper{
		.portrait{
			border-radius: 100rem;
		}
	}
}

.woocommerce-loop-product__title{
	text-align: center;
	font-size: 1.3rem;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color: get-color(primary);
	font-weight: 700;
	margin-top: 1rem;
}
.product_title{
	font-size: 2rem;
	color: get-color(primary);
}
.products{
	.product img{
		box-shadow:2px 2px 8px gray;
	}
	span.price {
		width: 100%;
		display: block;
		text-align: center;
		font-size: 1.6rem;
		margin-top: .5rem;
		color: black;
	}
}

a.woocommerce-product-gallery__trigger {
	display: none;
}
.flex-control-nav {
	display: flex;
	li {
		list-style-type: none;
		max-height: 100px;
		max-width: 100px;
		margin: 6px;
	}
}

.woocommerce-product-gallery{
	li>img
	{
		box-shadow: 2px 2px 8px gray;
		//margin:.5rem;
	}
}

.woocommerce-Price-amount{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	form.cart{
		.quantity input{
			display: inline-block;
		}
	}
}
.woocommerce-message{
	text-align:center;
}

article.page footer{
	display: none;
}

.top-bar, .top-bar ul{
	background-color: white;
}

.widget{
	.orbit-wrapper{
		margin: 0;
	}
	margin: 1rem 0;
	h6 {
		text-transform: uppercase;
		font-family: 'Josefin Sans', sans-serif;
		text-align: center;
		border-top: 3px solid get-color(primary);
		border-bottom: 3px solid get-color(primary);
		padding-top: 3px;
	}
}

#map-picker{
	width: 100%;
	height:300px;
}
#gform_fields_2{
	list-style-type: none;
}
.event-location-lng, .event-location-lat{
	display: none;
}
.product-remove {
    font-size: 3rem;
}

.gfield_time_hour, .gfield_time_minute, .gfield_time_ampm{
	text-align: center;
	width: 60px;
	display: inline-block;
	input{
		width:50px;
		display: inline-block;
	}
}

#allowed_tags{
	display: none;
}

.post-type-archive-product .page-title{
	display: none;
}

.tile.header-image{
	height: 350px;
	background-size: cover;
	width: 100%;
	display: block;	
	margin-bottom: 1rem;
}

.shop-promo-row{
	padding: 2rem 0 1rem;
	margin: 5rem 0 3rem;
}

.shop-row-hoody {
    display: block;
    width: 100%;
    height: 27rem;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    left: -100%;
    position: absolute;
    top: -6rem;
}

.margin-top-medium-up{
	@include breakpoint(medium){
		margin-top: 5rem;
	}
}
.tab-buttons{
		position: relative;
		overflow: hidden;
}
a.tab-button{
	max-width:90px;
	display: inline-block;
	border-radius: 0 0 12rem 12rem;
	&:hover{
		top: -5px;
		position: relative
	}
}


.gear-section {
	a{ 
		display: block;
	}
	.shop-card span.image{
		padding-top: 100%;
    background-size: cover;
	}

	.shop-card.pad span.image{
		padding-top: calc( 100% + 1rem );
    background-size: cover;
	}
	.shop-card.half span.image{
		padding-top: 50%;
    background-size: cover;
	}
}


.ui-datepicker-header{
	background: white;
	padding: 2px;
}

.ui-datepicker-next.ui-corner-all {
	float: right;
}

.variations_form td.label{
	padding: 1em;
  background: none;
  width: 100%;
  text-align: right;
  label{
  	font-size:1rem;
  }
}