.sites-button, .button {
	cursor: pointer;
	background: get-color(primary);
	font-size: 1.25rem;
	font-weight: bold;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5rem;
	border: none;
	color: white;
	padding: 1rem;
	text-transform: uppercase;
	min-width: 100%;
	box-sizing: border-box;
	border: 2px solid get-color(primary);
	input[type="submit"]{
		background: none;
		border: none;
		font-size: inherit;
		color: white;
		padding: 0;
		&:hover{
			color:get-color(primary);
		}
	}
	&:hover{
		color: get-color(primary);
		background-color: white;
		border: 2px solid get-color(primary);
		a{ color: get-color(primary);}
		input[type="submit"]{
			color:get-color(primary);
		}
	}
	a{
		color: white;
		&:hover{ color: get-color(primary);} 
	}

}
