.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: rem-calc(100);
  padding-bottom: 1rem;
  @include breakpoint(medium) {
    min-height: rem-calc(300);
  }

  @include breakpoint(xlarge) {
    min-height: rem-calc(400);
  }
}
